@{
    ViewBag.Title = "Home Page";
    var userMoney = new List<int> { 1, 2, 5, 10 };
}

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header navbar-brand">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <a>Кошелек</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach(var money in userMoney)
                {
                    <li><a class="btn btn-link">@money руб</a></li>
                }
            </ul>
        </div>
    </div>
</div>